/**Main fonts used throughout the project**/

.theFont{
    font-family: 'Playfair Display', serif;
}
.answerFont{
    font-family: 'Roboto', sans-serif;
}
/**container on the main page surrounding the username entering panel**/
.containerStyle{
    background-color:#CCAEAE;
}

.padd{
    padding: 20px;
}

.borderForce{
    border: 15px;
    border-style:solid;
}

.linkButtons{
    border: 2px solid black;
    border-radius: 5px;
    background-color:#C0C0C0;
    background-clip: padding-box;
    border: 10px solid transparent;
}

a:hover{
    color:red;
}
