/**Main fonts used throughout the project**/

.theFont{
    font-family: 'Playfair Display', serif;
}
.answerFont{
    font-family: 'Roboto', sans-serif;
}
/**container on the main page surrounding the username entering panel**/
.containerStyle{
    background-color:#CCAEAE;
}

/*Styling for selectboxes throughout the quiz*/
.mainSelection select{
    color:blue;
}

#greenButton{
    background-color:green;
    border:3px solid black;
}
.orange{
    background-color:orange;
    border: 3px solid black;
}

.padd{
    padding: 20px;
}

.borderForce{
    border: 15px;
    border-style:solid;
}

.linkButtons{
    border: 2px solid black;
    border-radius: 5px;
    background-color:#C0C0C0;
    background-clip: padding-box;
    border: 10px solid transparent;
}

a:hover{
    color:red;
}

.usernameContainer{
    border:2px solid black;
    background-color:#C0C0C0;
}

.linkButtons:hover{
    color:red;
}


.redText{
    color: red;
}

/*Styling for flashed messages on the top of question template*/
.flashBox{
    background-color:grey;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
}

/*Styling for table*/
table, th, td {
    border: 1px solid black;
    width:100%;
}
th, td {
    padding: 15px;
    background-color:grey;
}
.userEntry{
    background-color: lightgrey;
}