<html>
    <head>
        <title>
            Roman Era Revision & Quiz
        </title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="{{url_for('index')}}">Home Page</a>
                </li>
                <li>
                    <a href="{{url_for('quiz')}}">Take the quiz</a>
                </li>
                <li>
                    <a href="{{url_for('leaderboard')}}">Leaderboard</a>
                </li>
            </ul>
        </nav>
        
    {%block content%}
    {%endblock%}
    </body>
</html>