{% extends 'base.html' %}
{%block content%}
<div class="container">
   
   <!--Start of username input-->
   <section class="row text-center">
       <div class="col-sm-6 offset-sm-3">
           <h1 class="theFont">Welcome to Roman Era Quiz</h1>
           <h4 class="theFont padd redText">In order to play enter a username:</h4>
           
           <form method="POST"action="/pre_game/">
               <input id="username" class="form-control" type="text" name="username" placeholder="Enter username (alphanumeric, max 15 characters)..." pattern="^[a-zA-Z0-9]+$" maxlength="15" required/>
                <button class="main-button btn btn-success btn-lg btn-block">Take the Quiz!</button>
           </form>
            
        </div>
   </section>
   
   
   
   
   
   
   
   
   
   <!--Start of selection buttons-->
   <div class="row text-center">
       <div class="col-sm-6 offset-sm-3">
            <h5 class="theFont">Alternatively, select from the options below:</h5>
       </div>
   </div>
   
   <div class="row padd">
        
       <div class="col-md-6 col-sm-12 linkButtons">
           <a href="{{url_for('leaderboard')}}">
               <p class="text-center theFont">Leaderboard</p>
            </a>
       </div>
    
       <div class="col-md-6 col-sm-12 linkButtons">
           <a href="{{url_for('revise')}}">
               <p class="text-center theFont">Revise</p>
            </a>
       </div>
       
   </div>
   <!--End of selection buttons-->



</div>



{%endblock%}