{% extends 'base.html' %}
{%block content%}
<div class="container">
   <div class="row">
       <div class="col-sm-12 theFont">
           <h2>Welcome to the best learning source for Roman Era Revision</h2>
       </div>
   </div> 
   <div class="row">
       <div class="col-sm-12 theFont">
           <p>We offer a free learning resource for students, kids and anyone who wants to learn about the Roman Era.
           Through the use of our revision material and quiz features you are able to learn what life was like in this tremendous era.
           For best results learn some information in our revision section first and then embark on our quiz!</p>
       </div>
   </div>
</div>

{%endblock%}