{%extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row">
        <h2>What was the Romans favourite method of execution?</h2>
    </div>
    <!--ANSWERS LAYOUT-->
    <div class="row">
        <div class="col-md-1 hidden-sm">
            <!--styling purposes-->
        </div>
        <div class="col-md-4 col-sm-12 option1A">
                <p>A.Beheading</p>
        </div>
        <div class="col-md-2 hidden-sm">
            <!--Styling purposes-->
        </div>
        <div class="col-md-4 col-sm-12 option1B">
            <p>B.Stinging to death</p>
        </div>
        <div class="col-md-1 hidden-sm">
            <!--Styling purposes-->
        </div>
    </div>
    <!--End Layout-->
    <!--ANSWERS LAYOUT-->
    <div class="row">
        <div class="col-md-1 hidden-sm">
            <!--styling purposes-->
        </div>
        <div class="col-md-4 col-sm-12 option1A">
                <p>C. Setting rabid rats on to the vitim.</p>
        </div>
        <div class="col-md-2 hidden-sm">
            <!--Styling purposes-->
        </div>
        <div class="col-md-4 col-sm-12 option1B">
            <p>D. Lethal Injection</p>
        </div>
        <div class="col-md-1 hidden-sm">
            <!--Styling purposes-->
        </div>
    </div>
    <!--End Layout-->
{%endblock%}