{%extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row">
        
    </div>
    <div class="row">
        <h2>{{question}}</h2>
    </div>
    <!--ANSWERS LAYOUT-->
    <div class="row">
        <div class="col-md-1 hidden-sm">
            <!--styling purposes-->
        </div>
        <div class="col-md-4 col-sm-12 option1A">
                <p class="theFont"></p>
        </div>
        <div class="col-md-2 hidden-sm">
            <!--Styling purposes-->
        </div>
        <div class="col-md-4 col-sm-12 option1B">
            <p class="theFont"></p>
        </div>
        <div class="col-md-1 hidden-sm">
            <!--Styling purposes-->
        </div>
    </div>
    <!--User can enter their answer section-->
    
    <!--ANSWERS LAYOUT-->
    <div class="row">
        <div class="col-md-1 hidden-sm">
            <!--styling purposes-->
        </div>
        <div class="col-md-4 col-sm-12 option1A">
                <p class="theFont"></p>
        </div>
        <div class="col-md-2 hidden-sm">
            <!--Styling purposes-->
        </div>
        <div class="col-md-4 col-sm-12 option1B">
            <p class="theFont"></p>
        </div>
        <div class="col-md-1 hidden-sm">
            <!--Styling purposes-->
        </div>
    </div>
    <!--End Layout-->
    <!--Answer Section-->
    <div class="row">
        <div class="col-sm-12">
            <h3 class="theFont text-center">Please enter your chosen answer in the text field below...</h3>
        </div>
    </div>->
    <div class="row">
        <div class="col-sm-12">
            <form method="POST" class="text-center">
                <input type="text" name="answer1" id="answer1">
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>Congratulations, you got {{player_score}} out of 1!</p>
        </div>
    </div>
{%endblock%}